{% extends 'base.html' %}
<!-- Extender la plantilla base 'base.html' -->

{% block content %}
<!-- Definir un bloque llamado 'content' que se hereda de la plantilla base -->

<h1>Aplicación para gestionar tareas</h1>
<h2>FE01: Lanzillota - Chaves</h2>
<h3>Grupo Nº 10</h2>
<h3>Participantes: Fabián Melgarez / Stephannie Peñuela / R.Nahuel Zaiser Batalla / Melisa Giselle Melo / Guillermo Fabián Alarcón </h3>
<!-- Encabezado principal de la página que muestra el nombre de la aplicación -->

{%  endblock %}
<!-- Final del bloque 'content' que indica el final del contenido específico de esta página -->


